<h1> Welcome to Word Count! </h1>


<form action='/results'>
  <div class='form-group'>
    <label for='sentence'>Enter your sentence here:</label>
    <input id='sentence' name='sentence' class='form-control' type='text'> 
  </div>


  <div class='form-group'>
    <label for='entered_word'>Enter your word to count here:</label>
    <input id='entered_word' name="entered_word" class='form-control' type='type'>
  </div>

  <button type='submit' class='btn-success'>Submit</button>
</form>
