<h1>Here's what you have been waiting all of your life for!</h1>
 <div class='container'>
  <p><h3> You entered: <h1><strong><%= @entered_word %></h1></p>
  <p><h3> The sentence you want to count your words from is: <h1><strong><%= @sentence %></h1></p>
  <p><h3> The number of times your word has occured: <h1><strong><%= @frequency %></h1></p>
</div>
